{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div id="post" class="main">
    <section>
      <h2>{{ .Title }}</h2>
      <time>{{ .Date.Format "2" }} {{ (index .Site.Data.months.ka .Date.Month) }}, {{ .Date.Format "2006" }}</time>
    </section>
    <section>
      {{ partial "fbshare.html" . }}
      <article>
        {{ .Content }}
      </article>
    </section>
    {{ partial "fbcomments.html" . }}
    <!--{{ partial "disqusscomments.html" . }}-->
</div>
{{ partial "footer.html" . }}
